# IDE index files
.vscode

# Python index files
venv
__pycache__

# Third party
robust-fpm-cmc-msu-edu-2021

# Used for caching prices results
*.npy

# Latex index files
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*converted-to.pdf
